/* SECCIONES DEL INDEX */
/* SECCION PRINCIPAL */
.parrafo-principal {
    text-align: center;
}

.imagen-principal {
    width: 100%;   
}

/* 2DA SECCION */

.seccion2 {
    &__parrafo {
        text-align: center;
    }
    
    &__card-img-top {
        padding-top: 11px;
        &:hover {
        transform: scale(1.10,1.10);
        transition: all 0.25s;
        }
    }
    
    &__btn-primary {
        background-color: black;
        color: $color-principal;
        transition: all 0.25s;
        &:hover {
            background-color: $color-secundario;    
        }
    }
}

/* 3RA SECCION */

.seccion3 {
    padding-top: 15px;
    padding-bottom: 15px;

    &__titulo {
        color: $color-terciario;
        background-color: $color-secundario;
        font-family: $fuente-titulos; 
        text-align: center; 
        padding: 10px 0;
    }
    
    &__parrafo {
        text-align: center;
    }
    
    &__taza {
        @extend .display-centrado;
    }   
}

/* 4TA SECCION */

.seccion4 {
    padding-top: 15px;
    padding-bottom: 15px;

    &__parrafo {
        text-align: center;
    }
    
    &__video {
        @extend .display-centrado;
    }
    
    &__tamano {
        @extend .display-centrado;
    }
}