/* EXTEND -- EXTENDER CODIGO */

.background-centrado {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.display-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MIXIN */

@mixin flex($flex-direction, $justify, $align) {
    flex-direction: $flex-direction;
    justify-content: $justify;
    align-items: $align;
}